{% extends 'snowebsvg/common/svg.html' %}

{% block svg_content %}
    <polygon points="42.4 82 57.6 66.8 57.6 18 42.4 33.2 42.4 82" class="svg-fill-primary" fill-rule="evenodd"/>
    <path d="M21.9,23.6a3.9,3.9,0,0,0-2.3,3.6v38a3.9,3.9,0,0,0,1.1,2.7L34.8,82V33.2l-8.7-8.7A4.1,4.1,0,0,0,21.9,23.6Z"
          class="svg-fill-primary" fill-rule="evenodd"/>
    <path d="M79.3,32.1,65.2,18V66.8l8.7,8.7a4.1,4.1,0,0,0,4.2.9,3.9,3.9,0,0,0,2.3-3.6v-38A3.9,3.9,0,0,0,79.3,32.1Z"
          class="svg-fill-primary" fill-rule="evenodd"/>
{% endblock %}
