django>=3.1.4
Sphinx>=3.4.1
furo==2020.12.28b23
flake8>=3.8.4
sphinxcontrib-django==0.5.1
django-environ==0.4.5
django-storages==1.11.1
boto3==1.16.47
coverage==5.3.1
wagtail==2.12
django-css-inline==0.0.4
beautifulsoup4
sentry-sdk==1.5.8
python-decouple==3.4
django-anymail[sendgrid]
gevent==21.1.2
psycopg2-binary==2.8.6
python-memcached==1.59
Wand==0.6.7
django-social-share==2.2.1
Jinja2<3.1
