{% extends 'snowebsvg/common/svg.html' %}

{% block svg_content %}
    <rect x="18" y="18" width="27.4" height="27.45" rx="9.1" class="svg-fill-primary"/>
    <rect x="18" y="54.6" width="27.4" height="27.45" rx="9.1" class="svg-fill-primary"/>
    <rect x="54.6" y="18" width="27.4" height="27.45" rx="9.1" class="svg-fill-primary"/>
    <path d="M77.4,63.7H72.9V59.1a4.6,4.6,0,0,0-9.2,0v4.6H59.1a4.6,4.6,0,0,0,0,9.2h4.6v4.5a4.6,4.6,0,0,0,9.2,0V72.9h4.5a4.6,4.6,0,1,0,0-9.2Z"
          class="svg-fill-primary"/>
{% endblock %}
