{% extends 'snowebsvg/common/builders/basic.html' %}

{% block svg_viewbox %}0 0 120 200{% endblock %}
{% block svg_aspect_ratio %}none{% endblock %}

{% block builder_base %}
    <linearGradient id="{{ self.key_composer }}-base"
                    x1="-1.65" y1="25.23"
                    x2="100.52"
                    y2="149.14"
                    gradientTransform="matrix(1, 0, 0, -1, 0, 200)"
                    gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-opacity="0.1"></stop>
        <stop offset="1" stop-opacity="0"></stop>
    </linearGradient>
    <rect fill="url(#{{ self.key_composer }}-base)" width="120" height="200"></rect>
{% endblock %}

{% block builder_hover %}
    <linearGradient id="{{ self.key_composer }}-hover"
                    x1="-1.65"
                    y1="25.23"
                    x2="100.52"
                    y2="149.14"
                    gradientTransform="matrix(1, 0, 0, -1, 0, 200)"
                    gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-opacity="0.8" stop-color="var(--svg-theme-{% if theme == 'light' %}light{% else %}dark{% endif %}-tertiary)"></stop>
        <stop offset="1" stop-opacity="0"></stop>
    </linearGradient>
    <rect fill="url(#{{ self.key_composer }}-hover)" width="120" height="200"></rect>
{% endblock %}
