{% extends 'snowebsvg/common/svg.html' %}

{% block svg_viewbox %}0 0 120 200{% endblock %}
{% block svg_aspect_ratio %}none{% endblock %}


{% block svg_content %}
    <g transform="scale(1)" opacity="0.1">
        <rect class="svg-fill-tertiary" width="120" height="200"></rect>

        <circle style="mix-blend-mode: screen;" class="svg-blend svg-fill-tertiary svg-builder-circle" cx="97.78"
                cy="22.22" r="22.22"></circle>
        <circle style="mix-blend-mode: screen;" class="svg-blend svg-fill-tertiary svg-builder-circle" cx="38.35"
                cy="38.35" r="38.35"></circle>
        <circle style="mix-blend-mode: screen;" class="svg-blend svg-fill-tertiary svg-builder-circle" cx="22.22"
                cy="177.78" r="22.22"></circle>
        <circle style="mix-blend-mode: screen;" class="svg-blend svg-fill-tertiary svg-builder-circle" cx="81.65"
                cy="161.65" r="38.35"></circle>
        <circle style="mix-blend-mode: screen;" class="svg-blend svg-fill-tertiary svg-builder-circle" cx="100.07"
                cy="107.39" r="11.82"></circle>
        <circle style="mix-blend-mode: screen;" class="svg-blend svg-fill-tertiary svg-builder-circle" cx="18.66"
                cy="107.39" r="11.82"></circle>

    </g>
{% endblock %}
