$transition: opacity 300ms linear;

.svg-trigger {
  .builder-1 {
    g[id^='event-'] {
      opacity: 0;
    }

    g[id*='-base'] {
      opacity: 1;
    }

    g {
      transition: $transition; /* vendorless fallback */
      -o-transition: $transition; /* opera */
      -ms-transition: $transition; /* IE 10 */
      -moz-transition: $transition; /* Firefox */
      -webkit-transition: $transition; /*safari and chrome */
    }
  }

  &:hover {
    .builder-1 {
      g[id^='event-'] {
        opacity: 0;
      }

      g[id*='-hover'] {
        opacity: 1;
      }
    }
  }
}
