{% extends 'snowebsvg/common/svg.html' %}

{% load svg_utils %}
{% block svg_viewbox %}0 0 1920 275.01{% endblock %}
{% block svg_aspect_ratio %}none{% endblock %}

{% block svg_content %}
    <path {% variant_manager variant 'attrs' %}
            class="svg-fill-primary"
            d="M0,275V0S850.36,48.11,1044.81,105.36c193.44,57,794.68-50.91,875.19-53.75V275Z"></path>
    <path {% variant_manager variant 'attrs' %}
            class="svg-fill-primary"
            d="M0,275V88.53s538-99.4,898.64-39.76S1657.74,139.65,1920,99.89V275Z"></path>
    <path {% variant_manager variant 'attrs' %}
            class="svg-fill-primary"
            d="M0,275V99.7s571,104,807.29,37.8S1482.63,2.83,1920,17V275Z"></path>
    <path class="svg-fill-primary" d="M0,275V137.28s305.73,86.48,715.7,51.25S1401.13,108.45,1920,159.7V275Z"></path>
{% endblock %}
