.svg-effect-builder {
  position: relative;

  .svg-bg {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .svg-effect-container {
    position: relative;
    z-index: 2;
  }
}
