/* This file is only for experimental testing, do not code production code here */

.back-glass {
  background: radial-gradient(circle, #b43ab3 40%, #427bd5 52%, #37dbff 68%);
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
