{% extends 'snowebsvg/common/svg.html' %}

{% block svg_content %}
    <rect x="18" y="17.996" width="64" height="64.01" fill="none"/>
    <rect x="18" y="17.996" width="64" height="64.01" fill="#223693"/>
    <rect x="33.227" y="17.996" width="14.224" height="64.009" fill="#fff"/>
    <rect x="18" y="42.886" width="64" height="14.23" fill="#fff"/>
    <rect x="36.78" y="17.996" width="7.116" height="64.009" fill="#c51d32"/>
    <rect x="18" y="46.446" width="64" height="7.11" fill="#c51d32"/>
    <rect x="18" y="17.996" width="64" height="64.01" fill="none"/>
{% endblock %}
