[class^='svg-snoweb'].x1,
[class*='svg-snoweb'].x1 {
  margin: 0 5px;
  width: 10px;
}

[class^='svg-snoweb'].x2,
[class*='svg-snoweb'].x2 {
  margin: 0 5px;
  width: 20px;
}

[class^='svg-snoweb'].x3,
[class*='svg-snoweb'].x3 {
  margin: 0 5px;
  width: 30px;
}
