[class^='snoweb-svg'].x1,
[class*='snoweb-svg'].x1 {
  margin: 0 5px;
  width: 10px;
}

[class^='snoweb-svg'].x2,
[class*='snoweb-svg'].x2 {
  margin: 0 5px;
  width: 20px;
}

[class^='snoweb-svg'].x3,
[class*='snoweb-svg'].x3 {
  margin: 0 5px;
  width: 30px;
}
