{% extends 'app/base.html' %}
{% load i18n svg %}

{% block title %}{% trans 'Free SVG collections for web' %} | {{ block.super }}{% endblock %}
{% block description %}{% trans 'Get free collections of SVGs animated built in HTML and CSS.' %} {{ block.super }}{% endblock %}

{% block body %}
    {% with theme=request.session.theme variant=request.session.variant %}
        <h1>SVG {% trans 'collections' %}</h1>
        {% for collection in object_list %}
            <a style="text-decoration: none" href="{% url 'app:group' collection.key %}">
                <h2><code>{{ collection.key }}</code></h2>
            </a>
            {% for group in collection.groupsvg_set.all %}
                {% include 'app/common/svg_set.html' with svg_set=group.svg_set.all %}
            {% endfor %}
        {% endfor %}
    {% endwith %}
{% endblock %}
