{% extends 'app/base.html' %}
{% load svg %}

{% block title %}Free SVG collections for web | {{ block.super }}{% endblock %}
{% block description %}Get free collections of SVGs animated built in HTML and CSS. {{ block.super }}{% endblock %}

{% block body %}
    {% with theme=request.session.theme %}
        <h1>SVG collections</h1>
        {% for collection in object_list %}
            <a style="display: inline-block; text-decoration: none;" class="svg-trigger"
               href="{% url 'app:group' collection.key %}">
                <h2><code>{{ collection.key }}</code></h2>
                {% for group in collection.groupsvg_set.all %}
                    {% for svg in group.svg_set.all %}
                        {% svg_inline svg theme 'x1' %}
                    {% endfor %}
                {% endfor %}
            </a>
        {% endfor %}
    {% endwith %}
{% endblock %}
