{% extends 'app/base.html' %}
{% load i18n svg svg_utils %}

{% block title %}{% trans 'Free SVG collections for web' %} | {{ block.super }}{% endblock %}
{% block description %}{% trans 'Get free collections of SVGs animated built in HTML and CSS.' %}
    {{ block.super }}{% endblock %}

{% block header_title %}SVG {% trans 'collections' %}{% endblock %}


{% block body_content %}
    <div class="flex flex-wrap">
        {% with theme=request.session.theme variant=request.session.variant %}
            {% include 'app/common/svg_set.html' with svg_set=search_results %}
        {% endwith %}
    </div>
    <div class="py-10">
        <nav class="relative z-0 rounded-md shadow-sm -space-x-px" aria-label="Pagination">
            {% if search_results.has_previous %}
                <a href="{% url 'app:collection' %}?page={{ search_results.previous_page_number }}"
                   class="relative inline-flex items-center px-6 py-2 rounded-l-md border border-light-300 dark:border-dark-300 text-sm font-medium text-light-500 dark:text-dark-500 hover:bg-light-50 dark:hover:bg-dark-50">
                    <
                </a>
            {% endif %}

            {% for i in search_results.paginator.page_range %}
                {% if search_results.number == i %}
                    <a href="{% url 'app:collection' %}?page={{ i }}"
                       class="bg-primary-700 text-white relative inline-flex items-center px-4 py-2 border border-light-300 dark:border-dark-300 text-sm font-medium hover:bg-light-50 dark:hover:bg-dark-50">
                        {{ i }}
                    </a>
                {% elif i > search_results.number|add:'-5' and i < search_results.number|add:'5' %}
                    <a href="{% url 'app:collection' %}?page={{ i }}"
                       class="relative inline-flex items-center px-4 py-2 border border-light-300 dark:border-dark-300 text-sm font-medium text-light-700 dark:text-dark-700 hover:bg-light-50 dark:hover:bg-dark-50">
                        {{ i }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if search_results.has_next %}
                <a href="{% url 'app:collection' %}?page={{ search_results.next_page_number }}"
                   class="relative inline-flex items-center px-6 py-2 rounded-r-md border border-light-300 dark:border-dark-300 text-sm font-medium text-light-500 dark:text-dark-500 hover:bg-light-50 dark:hover:bg-dark-50">
                    >
                </a>
            {% endif %}
        </nav>
    </div>
{% endblock %}
