{% extends 'app/base.html' %}
{% load svg static %}

{% block css %}
    {{ block.super }}
    {% with href="snowebsvg/dist/css/experimental-"|add:settings.VERSION|add:".css" %}
        <link rel="stylesheet" href="{% static href %}">
    {% endwith %}
{% endblock %}

{% block body %}
    {% with theme=request.session.theme svg_key='effect-article-basic' %}
        <h1>Experimental</h1>

        <div class="svg-trigger" style="display: flex; align-items: center;">
            <span>{% lorem 5 w random %}</span>
            {% svg_inline svg_key theme 'x2' %}
        </div>

        <div class="svg-trigger" style="display: flex; align-items: center;">
            {% svg_inline svg_key theme 'x2' %}
            <span>{% lorem 5 w random %}</span>
        </div>



        <div class="back-glass svg-trigger" style="display: flex; flex-wrap: wrap">
            <article class="glass svg-effect-builder" style="position: relative; flex: 1; margin: 20px">
                {% svg_inline svg_key theme %}
                <h2>{% lorem 5 w random %}</h2>
                <p>{% lorem 20 w random %}</p>
            </article>
            <article class="svg-effect-builder" style="position: relative; flex: 1; margin: 20px">
                {% svg_inline svg_key theme %}
                <h2>{% lorem 10 w random %}</h2>
                <p>{% lorem 50 w random %}</p>
            </article>
            <article class="svg-effect-builder" style="position: relative; flex: 1; margin: 20px">
                {% svg_inline svg_key theme %}
                <h2>{% lorem 20 w random %}</h2>
                <p>{% lorem 100 w random %}</p>
            </article>
        </div>


    {% endwith %}
{% endblock %}
