{% extends 'app/base.html' %}
{% load svg %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    {% with theme=request.session.theme %}
        <h1>Icons</h1>
        {% for group in object_list %}
            <h2>{{ group }}</h2>
            <div style="display: flex; flex-wrap: wrap">
                {% for svg in group.svg_set.all %}
                    <a style="text-decoration: none; text-align: center; width: 150px; padding: 10px"
                       href="{% url 'app:svg' group.collection.key group.key svg.key %}" class="svg-trigger">
                        {% svg_inline svg theme %}
                        <p><code>{{ svg.path }}</code></p>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    {% endwith %}
{% endblock %}
