{% extends 'app/base.html' %}
{% load i18n svg svg_utils %}

{% block title %}{% trans 'Free SVG collection' %}{% if object_list.0 %} {{ object_list.0.collection }}{% endif %} | {{ block.super }}{% endblock %}
{% block description %}{% trans 'Get free collection' %} {% if object_list.0 %} {{ object_list.0.collection }}{% endif %} {% trans 'of SVGs animated built in HTML and CSS.' %} {{ block.super }}{% endblock %}

{% block header_title %}SVG {% trans 'collection' %}{% if object_list.0 %} {{ object_list.0.collection.key }}{% endif %}{% endblock %}

{% block body_content %}
    <div class="flex flex-wrap">
        {% with theme=request.session.theme first_group=object_list.0 variant=request.session.variant %}
            {% for group in object_list %}
                {% include 'app/common/svg_set.html' with svg_set=group.svg_set.all %}
            {% endfor %}
        {% endwith %}
    </div>
{% endblock %}
