{% extends 'app/base.html' %}
{% load i18n svg beautifulsoup %}

{% block title %}{% trans 'Free SVG' %}{% if object_list.0 %} {{ object_list.0 }}{% endif %} | {{ block.super }}{% endblock %}
{% block description %}{% trans 'Free SVG' %}{% if object_list.0 %} {{ object_list.0 }}{% endif %} {% trans 'animated and built in HTML and CSS.' %}
    {{ block.super }}{% endblock %}


{% block body %}
    {% with theme=request.session.theme variant=request.session.variant %}
        {% for svg in object_list %}
            <h1>SVG <code>{{ svg.key_composer }}</code></h1>
            <div class="svg-trigger">
                {% svg_preview svg theme 200 200 variant True %}
            </div>
            <h2>{% trans 'Attributes' %}</h2>
            <ul>
                <li>
                    <p>{% trans 'Collection' %} : <a
                            href="{% url 'app:group' svg.group.collection.key %}"><code>{{ svg.group.collection.key }}</code></a>
                    </p>
                </li>
                <li>
                    <p>{% trans 'Group' %} : <a href="{% url 'app:svg_search' svg.group.key %}"><code>{{ svg.group.key }}</code></a>
                    </p>
                </li>
                <li>
                    <p>{% trans 'Builder' %} : <a href="{% url 'app:svg_search' svg.key %}"><code>{{ svg.key }}</code></a></p>
                </li>
            </ul>
            <h2>{% trans 'Code' %}</h2>
            <ul>
                <li>
                    <a href="https://snoweb-svg.readthedocs.io/en/latest/getting-started/html.html">
                        {% trans 'Getting started with HTML' %}
                    </a>
                </li>
                <li>
                    <a href="https://snoweb-svg.readthedocs.io/en/latest/getting-started/django.html">
                        {% trans 'Getting started with Django' %}
                    </a>
                </li>
            </ul>
            <h3>CSS</h3>
            <textarea id="code-styles-{{ svg.key_composer }}">{% collection_styles svg.group.collection %}</textarea>
            <button type="button" onclick="document.getElementById('code-styles-{{ svg.key_composer }}').select();document.execCommand('copy');">{% trans 'Copy' %}</button>
            <h3>HTML</h3>
            <textarea id="code-html-{{ svg.key_composer }}">{% svg_preview svg theme 100 100 as html %}{{ html|prettify }}</textarea>
            <button type="button" onclick="document.getElementById('code-html-{{ svg.key_composer }}').select();document.execCommand('copy');">{% trans 'Copy' %}</button>
            <h3>Django</h3>
            <textarea id="code-django-{{ svg.key_composer }}" style="height: 110px">{% svg_django svg theme 100 100 variant=variant %}</textarea>
            <button type="button" onclick="document.getElementById('code-django-{{ svg.key_composer }}').select();document.execCommand('copy');">{% trans 'Copy' %}</button>
        {% endfor %}
    {% endwith %}
{% endblock %}
