{% extends 'app/base.html' %}
{% load i18n svg svg_utils %}

{% block title %}{% trans 'Search free SVG for web' %}{% if key %} like "{{ key }}"{% endif %} | {{ block.super }}{% endblock %}
{% block description %}{% trans 'Search for free SVGs animated built in HTML and CSS.' %}{{ block.super }}{% endblock %}

{% block header_title %}{% trans 'Search' %} SVG{% if key %} {% trans 'by key' %} {{ key }}{% endif %}{% endblock %}

{% block body_content %}
    <div class="flex flex-wrap">
        {% with theme=request.session.theme variant=request.session.variant %}
            {% include 'app/common/svg_set.html' with svg_set=object_list %}
        {% endwith %}
    </div>
{% endblock %}
