{% extends 'app/base.html' %}
{% load i18n svg %}

{% block title %}{% trans 'Settings SVG for web' %} | {{ block.super }}{% endblock %}
{% block description %}{% trans 'Configure settings and get free SVGs animated built in HTML and CSS.' %}
    {{ block.super }}{% endblock %}


{% block body_no_cache %}
    {% with theme=request.session.theme variant=request.session.variant %}
        <h1>{% trans 'Settings' %} SVG</h1>

        <h2>{% trans 'Preview' %}</h2>
        {% svg_preview 'essential-cube-basic_2' theme 100 100 variant False %}
        {% svg_preview 'essential-cube-circle_2' theme 100 100 variant False %}
        {% svg_preview 'essential-cube-rect_2' theme 100 100 variant False %}
        {% svg_preview 'essential-cube-line_2' theme 100 100 variant False %}

        <h2>{% trans 'Themes' %} SVG</h2>

        <form method="GET" style="display: flex">
            <input {% if theme == 'dark' %}style="border: 1px solid gray; background: transparent"{% endif %} type="submit" name="theme" value="dark">
            <input {% if theme == 'light' %}style="border: 1px solid gray; background: transparent"{% endif %} type="submit" name="theme" value="light">
        </form>

        <h2>{% trans 'Variant' %} SVG</h2>

        <form method="GET" style="display: flex">
            <input {% if not variant %}style="border: 1px solid gray; background: transparent"{% endif %} type="submit" name="variant" value="none">
            <input {% if variant == 'glass' %}style="border: 1px solid gray; background: transparent"{% endif %} type="submit" name="variant" value="glass">
        </form>

        <form method="POST" action="{% url 'app:svg_settings' %}">
            {% csrf_token %}
            <input type="hidden" name="form_key" value="form_theme_{{ theme }}">
            {% if theme == 'light' %}{{ form_theme_light.as_p }}{% else %}{{ form_theme_dark.as_p }}{% endif %}
            <input type="submit" value="{% trans 'Save' %}">
        </form>

        <h2>{% trans 'Themes App' %}</h2>

        <form method="POST" action="{% url 'app:svg_settings' %}">
            {% csrf_token %}
            <input type="hidden" name="form_key" value="form_theme_{{ theme }}_app">
            {% if theme == 'light' %}{{ form_theme_light_app.as_p }}{% else %}{{ form_theme_dark_app.as_p }}{% endif %}
            <input type="submit" value="{% trans 'Save' %}">
        </form>

        <h2>{% trans 'Reset' %}</h2>
        <form method="POST" style="display: flex">
            {% csrf_token %}
            <input type="submit" name="reset" value="reset">
        </form>


    {% endwith %}
{% endblock %}
